<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.asshurim.ukay"
        version   = "1.0.0">

    <name>Ukay Outfits</name>

    <description>
        Ukay is a first trial project in android.
    </description>

    <author href="http://iboostme.com" email="asshurimlarita@gmail.com">
        Asshurim Team
    </author>

    <icon src="icon.png" />

    <access origin="*"/>

</widget>