<section class="spotlight wow bounceInDown" ng-include="templates.spotlight"></section>

<div class="container text-center wow fadeInLeft">
    <h3 class="text-info"> We offer you the best in local and international fashion brands.</h3>
</div>

<section id="new-arrival" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a href="#" ng-click="changeView('productlist')"><img src="images/best-selling.jpg" class="img-responsive img-rounded wow fadeInUp" /></a>
            <br>
            <a href="#" ng-click="changeView('productlist')"><img src="images/new-arrivals.jpg" class="img-responsive img-rounded wow fadeInUp" /></a>
        </div>
    </div>
</section>