<h2 class="wow fadeInLeft text-center">  Featured Products</h2>

<div class="container ">
    <div class="row frames">


        <div class="col-xs-12 item ng-scope wow fadeInUp" ng-repeat="product in products">

            <a href="#" class="frame-link">
                <div class="ribbon-wrapper" ng-show="product.new">
                    <div class="ribbon ribbon-green">New</div>
                </div>

                <div class="ribbon-wrapper" ng-show="product.featured">
                    <div class="ribbon ribbon-red">Featured</div>
                </div>

                <img class="img-frame" ng-src="images/products/{{product.img}}" >

            </a>

            <div class="detail">
            <a href="#" class="frame-link">
                <div>
                    <span class="price pull-right"><i class="fa fa-tag"></i> {{ product.price }}</span>
                    <h4 class="title">{{ product.name }}</h4>
                </div>
            </a>
            </div>

            <br >

        </div>




    </div>
</div>