<div id="spotlight" class="owl-carousel" ng-init="init();">
    <div><img style="height: 200px;" class="img-responsive" src="images/20150109_SAL_WA-MA_BreakoutSale_P1.jpg" /> </div>
    <div><img style="height: 200px;" class="img-responsive" src="images/20150115_BRA_MA_G-shock_NA_casio.jpg" /> </div>
    <div><img style="height: 200px;" class="img-responsive" src="images/20150115_BRA_MSP_Nike_NA_nike.jpg" /> </div>
    <div><img style="height: 200px;" class="img-responsive" src="images/20150115_SUB_MS_TheShoeBoutique_NA.jpg" /> </div>
</div>